<DOCTYPE HTML5>
<HTML>
	<HEAD>
		<link REL="StyleSheet" TYPE="text/css" HREF="/home/rahul/Desktop/code/django/Alarm/static/alarm/index.css">
		<link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon"/>
		<TITLE>
			Alarm Set
		</TITLE>
	</HEAD>
	<BODY>
		<h1> The alarm has been set. </h1>
		<div class="alert info">
 			<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
  			Please make sure that you have <strong>pop-ups</strong> enabled for alarm to function.
		</div>

		
	</BODY>
</HTML>
<!--
<style>
			.alert {
			    padding: 20px;
			    background-color: #f44336;
			    color: white;
			}

			.alert.success {background-color: #4CAF50;}
			.alert.info {background-color: #2196F3;}
			.alert.warning {background-color: #ff9800;}

			.closebtn {
			    margin-left: 15px;
			    color: white;
			    font-weight: bold;
			    float: right;
			    font-size: 22px;
			    line-height: 20px;
			    cursor: pointer;
			    transition: 0.3s;
			}

			.closebtn:hover {
			    color: black;
			}
		</style>
-->