<DOCTYPE HTML5>
<HTML>
	<HEAD>
		<TITLE>
			Set an Alarm
		</TITLE>
	</HEAD>
	<BODY>
		<h1>At what time do you think you can kick some ass? </h1>
		{% if error %}
			<font color="red">Please enter a future time.</font>
		{% endif %}
		<form action = "/alarm" method = "get" >
			<input type = 'time' name = "alarm_time">
			<input type = "submit" value = "Yep! Wake me UP!">
		</form>
		<form action="" method = "get">
			or specify the duration: <input type="time" name="alarm_duration">
			<input type = "submit" value = "Rest that long">	
		</form>
		<h3>It's now {{now}}</h3>
	</BODY>
</HTML>
