<DOCTYPE HTML5>
<HTML>
	<HEAD>
		{% load staticfiles %}
		<link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon"/>
		<TITLE>
			Set an Alarm
		</TITLE>
	</HEAD>
	<BODY>
		<h1>At what time should I wake you up?</h1>
		{% if error %}
			<font color="red">Please enter a future time.</font>
		{% endif %}
		<form action = "" method = "post" >{% csrf_token %}
			<input type = 'time' name = "alarm_time">
			<input type = "submit" value = "Yep! Wake me UP!">
		</form>
		<form action="" method = "post">{% csrf_token %}
			or specify the duration: <input type="time" name="alarm_duration">
			<input type = "submit" value = "Rest that long">	
		</form>
		<h3>It's now {{now}}</h3>
	</BODY>
</HTML>
