<!--
TO - DO:
========

such JS that shows live time with sync frequency of a second and also matches it with the alarm_time each time it is loaded.
When we reach alarm_time, we can ring the alarm and display text_message if any.
-->
<HTML>
	<HEAD>
		{% load staticfiles %}		

		<link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon"/>
		
		<TITLE>Happy Alarms</TITLE>
	</HEAD>
	<BODY>
		<h1> Your alarm for {{alarm_time}} </h1>
		<p>
			<BR>
			Hope so that I woke you up!
		</p>
		<a href = "/alarm"> Set an alarm again </a>		
	</BODY>
</HTML>
